<%- include('../../include/header.html') %>
    <style>
        .paging{
            text-align: center;
            margin-top: 20px;
        }
        .page_btn{
            display: inline-block;
            border : 1px solid #333;
            padding : 2px 3px;
            cursor: pointer;
        }
    </style>
    <%- include('../../include/listFrm.html') %>
    <h1>INFORMATION</h1>
    <h2>LOGIN LOG LIST</h2>        
    <div>            
        <form id="listFrm" method="POST">
            <div style="display:block;">
                <%if(max >0){%><span> Total <%=max%> </span><%}%>
                <span style="float: right;">
                    <select name="limit" class="listLimit">
                        <option value="10" <%=limit==10? 'selected':'' %>>10</option>
                        <option value="25" <%=limit==25? 'selected':'' %>>25</option>
                        <option value="50" <%=limit==50? 'selected':'' %>>50</option>
                        <option value="100" <%=limit==100? 'selected':'' %>>100</option>
                    </select>
                </span>
            </div>
        <table style="width:100%;">
            <thead>
                <tr>
                    <th>Admin</th>
                    <th>IP</th>
                    <th>Request</th>
                    <th>Token Expired</th>
                    <th>Regdate</th>
                    <th>Changedate</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                <!-- prettier-ignore-start -->
                <% for (const log of logList) {%>                        
                <tr style="<%=log.confirm?'':'background:#EE5555;font-weight:600;'%>">
                    <td><%=log.admin?log.admin.adminName:"UNKNOWN"%></td>
                    <td>
                        <%let ip = log.ipaddress;%>
                        <%=ip.slice(0,ip.indexOf('.'))+'.*.*'+ip.slice(ip.lastIndexOf('.'))%>
                    </td>
                    <td><%=log.reqURI%></td>                        
                    <td>
                        <!-- prettier-ignore -->
                        <%if(log.token){%>
                        <%=log.token.block?"LOGOUT":moment(log.token.expired).format("YYYY-MM-DD HH:mm:ss")%>
                        <%}%>                            
                    </td>
                    <td>
                        <!-- prettier-ignore -->
                        <%=moment(log.regDate).format("YYYY-MM-DD HH:mm:ss")%>
                    </td>
                    <td>
                        <!-- prettier-ignore -->
                        <%=moment(log.changeDate).format("YYYY-MM-DD HH:mm:ss") %>
                    </td>
                </tr>
                <%} %>                   
                <!-- prettier-ignore-end -->
            </tbody>                
        </table>
        <%- include(../../include/paging.html) %>
        <input type="hidden" name="page" id="listPage" value="<%=page%>"/>
        </form>
    </div>
<%- include('../../include/footer.html') %>
