<!DOCTYPE html>
<html>
    <head>
        <title>EXPRESS TEST</title>
    </head>
    <body>
        <h2>TEST PAGE</h2>
        <% if(typeof login !== "undefined"){ %>
        <div>
            <ul>
                <li>
                    <a href="/test/socket">Socket chat</a>
                </li>
                <li>
                    <a href="/test/stream">Stream Server</a>
                </li>
                <li>
                    <a href="/test/media">Html media</a>
                </li>
            </ul>
            <div>
                <a href="/member/info">INFO</a>
                <a href="/logout">logout</a>
            </div>
        </div>
        <%} else { %>
        <div>
            <a href="/signin">SIGN IN</a>
            <a href="/signup">SIGN UP</a>
        </div>
        <%}%>
    </body>
</html>
