<!DOCTYPE html>
<html>
    <head>
        <title>EXPRESS TEST</title>
    </head>
    <body>
        <h2>SIGN IN</h2>
        <div>
            <form action="/signin" method="POST">
                <label for="signin-id">ID</lable>
                <input type="text" name="signin-id" id="signin-id"/>
                <label for="signin-pw">PW</label>
                <input type="password" name="signin-pw" id="signin-pw"/>
                <button type="submit">SIGN IN</button>
            </form>
        </div>
    </body>
</html>
