<!DOCTYPE html>
<html>
    <head>
        <title>EXPRESS TEST</title>
    </head>
    <body>
        <h2>SIGN UP</h2>
        <div>
            <form method="POST">
                <label for="signup-id">ID</lable>
                <input type="text" name="signup-id" id="signup-id"/>
                <label for="signup-nickName">NICKNAME</lable>
                <input type="text" name="signup-nickName" id="signup-nickName"/>
                <label for="signup-pw">PW</label>
                <input type="password" name="signup-pw" id="signup-pw"/>
                <button type="submit">SIGNUP</button>
            </form>
        </div>
    </body>
</html>
